<a href="https://colab.research.google.com/github/gouravsingh2009/Microsoft-/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
gandhi_quote = " 'If you don't ask, you don't get it' "
print(gandhi_quote)

 'If you don't ask, you don't get it'

In [7]:
model = "VGG16"
iteration = "150"
accuracy = "67.98"
print('"the accuracy of ' + model+ ' model in ' + iteration +'th iteration is:' + accuracy+' "' )

"the accuracy of VGG16 model in 150th iteration is:67.98 "

In [11]:
given_name = "Rahul"
middle_names = "Shastri"
family_name = "Mishra"
Full_name= given_name+middle_names+family_name
print(Full_name)
l=len(Full_name)
driving_license_character_limit = 28
print(l)
print(l <= driving_license_character_limit)

RahulShastriMishra
18
True

In [12]:
print(type(75))
print(type(75.0))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
decimal = float(3)
print(decimal)
print(type(decimal))

3.0
<class 'float'>

In [14]:
marks = 15
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

In [15]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
total_sales = (float(mon_sales) + float(tues_sales) + float(wed_sales) 
                + float(thurs_sales) + float(fri_sales))
print("This week\'s total sales: " + str(total_sales))

This week's total sales: 529.0